@import "tailwindcss";

@theme {
  /* Fonts */
  --font-display: var(--font-display);
  --font-body: var(--font-body);

  /* Colors */
  --color-gray: #2c2c2c;
  --color-black: #040304;
  --color-brown: #292113;
  --color-yellow: #d5a310;
}

@layer utilities {
  /* Fonts */
  .font-display {
    font-family: var(--font-display), sans-serif;
  }

  .font-body {
    font-family: var(--font-body), sans-serif;
  }

  /* Colors */
  .bg-primary { background-color: var(--color-black); }
  .bg-secondary { background-color: var(--color-gray); }
  .bg-accent { background-color: var(--color-yellow); }
  .bg-brown { background-color: var(--color-brown); }

  .text-primary { color: var(--color-black); }
  .text-secondary { color: var(--color-gray); }
  .text-accent { color: var(--color-yellow); }
  .text-brown { color: var(--color-brown); }
}



body {
  font-family: var(--font-body), sans-serif;
  background-color: var(--color-black);
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
